@tailwind base;
@tailwind components;
@tailwind utilities;

#forbanner{
  background: linear-gradient(to left, #e7c898, #817e78);
}
#login{
  background: linear-gradient(to left, #dfe68976, #60d0e3);

}
#banner1{
  filter: blur(10%);
  height: 550px;
}
#map{
  
  filter: brightness(0.2) contrast(0.8);
}
#mapimg{
  filter: brightness(0.2) contrast(0.9);
}

.swiper {
    width: 100%;
    height: 100%;
    padding-left: 34px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 400px;
    height: 350px;
    object-fit: cover;
  }
/*introo*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
/* about banner*/
#aboutbnr{
opacity: 70%;
filter: brightness(0.2);


}
#star img{
  width: 20px;
  height: 30px;
}